
/* -------------------- IMPORTED FONTS -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Irish+Grover&display=swap');

/*-------------------- CSS RESET --------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------- ROOT VARIABLES  -------------------- */
:root {
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/


header {
    background-color:#06A816;
    text-align: center; 
    color: white; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    font-family: 'Habibi';
    font-style: italic; 
  
}

header h1 {
    font-family: 'Irish Grover';
    color: var(--white) ; 
    font-style: normal; 
    font-size: 2.5em;
    
   
}

header p {
line-height: 1.5;
font-family: 'habibi';
font-size: 1.0em

}

.header {
    display: flex;
    flex-direction: column;
}


nav ul {
    list-style: none; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin: 0; 
    padding: 0; 
  
    
   
  }

nav ul li {
    margin-left: 70px; 
    margin-top: 35px; 

}

nav ul li a {

    width: 150px;
    text-decoration: none;
    background-color:  #E75D02;
    color: white;
    padding: 7px 65px;
    border-radius: 5px;
    display: flex; 
    justify-content: center;   
    

}
 
body {
  font-family: Habibi; 
  font-size: 1.25em; 
  width: 428px; 
}
h2 h3 h4 {
   font-family: 'Irish Grover'; 
}
h1 {
  font-size: 2.5em; 
  background-color:#06A816;
}
h2 {
  font-size: 1.75em; 
  font-family: 'Irish Grover'; 
}
h3 {
  font-size: 1.25em; 
}

.fruits {

    margin-top: 40px; 

}

.fruits h2 {
    margin-bottom: 20px; 
    text-align: start; 
}

.fruits p {
    line-height: 1.4; 
    font-size: 1.00em;
    margin-bottom: 30px; 
}
.fruits h3 {

    font-size: 1.25em; 
    font-family: Irish Grover; 
    margin-bottom: 10px; 
    text-align: center; 

}
.fruitsale {
    display: grid; 
    gap: 20px; 
    justify-content: center;
    
}
.fruitsale figure {
    position: relative; 
    text-align: center;
    
}

.fruitsale img {
    display: block;
    width: 100%;
    height: auto;
    
}

.fruitsale figcaption {
    position: absolute;
    top: 50%; 
    left: 50%;  
    text-align: center; 
    color: white;
    font-size: 1.2em;
    padding: 10px; 
}

.vegetables {

    margin-top: 20px;
}

.vegetables h2 {
    margin-top: 50px;
    font-size: 1.75em;
    margin-bottom: 10px;
    text-align: start; 
   
}

.vegetables p {
    font-size: 1.00em;
    line-height: 1.4;
    margin-bottom: 30px;

}
.vegetables h3 {
    font-family: 'Irish Grover', cursive;
    font-size: 1.25em;
    margin-bottom: 20px;
    text-align: center;
}

.vegetablesforsale {
    
        display: grid;
        gap: 20px;
        justify-content: center;
    
}
.vegetablesforsalefigure {
    
        position: relative;
        overflow: hidden;
        text-align: center; 
}
.vegetablesforsale img {
    display: block;
    width: 100%;
    height: auto;  

}
   
.vegetablesforsale figcaption {
  
    position: absolute;
    top: 50%; 
    left: 50%; 
    text-align: center; 
    color: white;
    font-size: 1.2em;
    padding: 10px; 

}
    


footer {
    background-color:#06A816;
    width:100%;
    color: white; 
}

footer h2 {
    padding: 30px;
    font-size: 1.25em;
    font-family: 'Irish Grover'
    }

.content {
    background-color:#06A816; 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 30px; 

}

.contact {
    display: flex; 
    flex-direction: row; 
}




.copyright {
        text-align: center;
        margin: auto;
        color: #06A816;
        background-color: white; 
    }







/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media screen and (min-width: 834px)

{
    header {
        display: flex;
        flex-direction: row;
    }
    header p{
        text-align: right;
        margin-left: 130px;
    }
    header nav{
    position: relative;
    display: flex;
    gap: 20px; 
    list-style: none; 
    margin-bottom: 0px;
    padding: 0;
    }

    header nav  ul li{
        background-color: #E75D02; 
    color: white; 
    border: none;
    border-radius: 5px;
    font-size: 14px; 
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-top: 65px;
    
    }

    header nav  ul li{

        margin-bottom: 70px;
        right: 350px;
    }
    header nav  ul li{

        margin-bottom: 70px;
        right: 70px;
    }
    .fruits {
        margin-top: 80px; 
        padding-top: 10px; 
        display: block;
    }
    .vegetablesforsale {
        grid-template-columns: 1fr 1fr; 
        padding-left: 30px;
        padding-right: 30px;
        gap: 50px;
        display: grid;
        
    }
    .fruitforsale {
        grid-template-columns: 1fr 1fr;
        padding-left: 30px;
        padding-right: 30px;
        gap: 50px;
        display: grid;
    }
    .hours-section {
        display: flex;
        flex-direction: column;
    }
    
    .contact-section{
        display: flex;
        flex-direction: column;
    }
    .hours-section h3{
        margin-right: 40px;
    }
    
}


/*-------------------- MEDIA QUERY (large) ------------------------------------*/

@media screen and (min-width: 1280px) {

    .fruitforsale {
        grid-template-columns: 1fr 1fr 1fr; 
    }

}
    .vegetablesforsale {
        grid-template-columns: 1fr 1fr 1fr;
    }

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

@media screen and (min-width: 1440px) {
    .fruitforsale {
        grid-template-columns: repeat(4, 1fr);
    }
}

    .vegetablesforsale {
        grid-template-columns: repeat(4, 1fr); 
    }


        